//Login block
$border-color: #4f4f4f; 
$background-color: #2b2b2b; 
$input-border-color: #4f4f4f;
$input-background-color: #3b3b3b; 
$input-text-color: #ffffff; 
$input-placeholder-color: #b3b3b3; 
$header-color: #f1f1f1;
$paragraph-color: #e0e0e0;
$link-color: #84a1ff;
$link-color: #98bcff;